* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app__header {
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.app__headerImage {
  width: 120px;
  object-fit: contain;
 
}

.app__signup {
  display: flex;
  flex-direction: column;
}